/* Fill me in :) */
body {
  background-color: black;
}

.Skeleton-title {
  text-align: center;
  font-size: 100px;
  color: #48c1f4;
}

.Skeleton-button {
  background-color: #e7d325;
  border: none;
  color: black;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
}
